<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <style>
    html, body {
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Source Sans Pro', sans-serif!important;
    }

    header#main-header, footer {
      background-color: #512da8;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;
      box-sizing: border-box;
    }

    footer p {
      color: #fff;
    }

    figure {
      text-align: left;
    }

    main {
      width: 100%;
      box-sizing: border-box;
      padding: 16px;
    }

    button#send-email {
      background-color: #71E88D;
      color: #fff;
      font-weight: bold;
      padding-top: 16px;
      padding-bottom: 16px;
      width: 100%;
      border-radius: 4px;
      border: initial;
      font-size: 24px;
      box-sizing: border-box;
      margin-bottom: 16px;
      cursor: pointer;
    }

    h1, h2, p {
      color: #00000080;
      text-align: center;
      box-sizing: border-box;
    }

    table#data {
      width: 100%;
      border-collapse: collapse;
      border-radius: 4px;
      border: thin solid #00000080;
    }

    table#data td {
      padding: 8px;
      border: thin solid #00000080;
      border-radius: #00000080;
      font-size: 16px;
    }
  </style>
</head>
<body>
  {{> header }}
  {{{ body }}}
  {{> footer }}
</body>
</html>